:host {
    width: 100%;
    max-height: 100%;
    height: 100%;
}


.container1{
    width: 100%;
    margin: 0;
    padding: 0;
    border: 1px solid red;   
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.mainMenu{
    display: flex;
    justify-content: space-between;
}
.status{
    display: flex;

}
.status > li {
    margin-right: 30px;
}
.good{
    color: greenyellow;
    font-weight: bold;
    text-shadow: -1px 0 black , 0px 1px black , 1px 0px black, 0px -1px black;
}
.warn{
    color: yellow;
    font-weight: bold;
    -webkit-text-stroke: 1px black;
}
.danger{
    color: red;
    font-weight: bold;
    -webkit-text-stroke: 1px black;
}
.footerMain{
    height: 93vh;
    display: flex;
    flex-direction: column;
    border: 1px solid greenyellow;
}
#one {
    display: flex;
    flex: 1;
}
#one > div{
    display: inline-block;
    border: 1px solid rebeccapurple;
    flex: 1;
}
#two {
    display: flex;
    flex: 1;
}
#two > div{
    display: inline-block;
    border: 1px solid rebeccapurple;
    flex: 1;
}

#three {
    display: flex;
    flex: 1;
}
#three > div{
    display: inline-block;
    border: 1px solid rebeccapurple;
    flex: 1;
}
#four {
    display: flex;
    flex: 1;
}
#four > div{
    display: inline-block;
    border: 1px solid rebeccapurple;
    flex: 1;
}