<div fxLayout="column" fxFlexFill fxFlexAlign="stretch">
<div class="container1" fxFlex="5%">
  <ul class="mainMenu">
      <li>(주)Sample</li>
      <li>전체 수조 정상 운영중입니다.</li>
      <li>
          <ul class="status">
              <li class="good"><span>정상</span> : {{large}}</li>
              <li class="warn"><span>경고</span> : </li>
              <li class="danger"><span>심각</span> : </li>
          </ul>
      </li>
  </ul>
</div>

<div class="footerMain" fxFlex="95%">
  <div id="one" fsdff >
      <div class="test1">
        <app-bowl [index]="1"></app-bowl>
      </div>
      <div class="test2">
        <app-bowl [index]="2"></app-bowl>
      </div>
      <div class="test3"><app-bowl [index]="3"></app-bowl></div>
      <div class="test4"><app-bowl [index]="4"></app-bowl></div>
      <div class="test5"><app-bowl [index]="5"></app-bowl></div>
      <div class="test6"><app-bowl [index]="6"></app-bowl></div>
  </div>
  <div id="two">
      <div class="test7"><app-bowl [index]="7"></app-bowl></div>
      <div class="test8"><app-bowl [index]="8"></app-bowl></div>
      <div class="test9"><app-bowl [index]="9"></app-bowl></div>
      <div class="test10"><app-bowl [index]="10"></app-bowl></div>
      <div class="test11"><app-bowl [index]="11"></app-bowl></div>
      <div class="test12"><app-bowl [index]="12"></app-bowl></div>
  </div>
  <div id="three">
      <div class="test13"><app-bowl [index]="13"></app-bowl></div>
      <div class="test14"><app-bowl [index]="14"></app-bowl></div>
      <div class="test15"><app-bowl [index]="15"></app-bowl></div>
      <div class="test16"><app-bowl [index]="16"></app-bowl></div>
      <div class="test17"><app-bowl [index]="17"></app-bowl></div>
      <div class="test18"><app-bowl [index]="18"></app-bowl></div>
  </div>
  <div id="four">
      <div class="test19"><app-bowl [index]="19"></app-bowl></div>
      <div class="test20"><app-bowl [index]="20"></app-bowl></div>
      <div class="test21"><app-bowl [index]="21"></app-bowl></div>
      <div class="test22"><app-bowl [index]="22"></app-bowl></div>
      <div class="test23"><app-bowl [index]="23"></app-bowl></div>
      <div class="test24"><app-bowl [index]="24"></app-bowl></div>
  </div>
</div>
</div>
