<div (click)="onMessage()" class="com" fxFlexFill  >
  <div class="main1" *ngIf="clicked && status == 'good'" fxLayout="column" fxFlexFill>
    <div class="head" fxLayout="row" fxFlex="90%">
      <ul class="status_index" fxFlex="35%" fxLayout="column">
        <li fxFlex="50%" style="display: flex; justify-content: center; align-items: center; color: aliceblue; font-size: 50px; font-weight: bold; background-color: dodgerblue;">{{index}}</li>
        <li fxFlex="50%" class="status_index_bowl">정상 <img src="../../../assets/image/waterbowl.png" width="70px" height="40px" ></li>
      </ul>
      <ul style="background-color: white;" fxLayout="column" fxFlex="65%">
        <li class="temp_detail" fxFlex="25%" style=" border-bottom: 1px solid black ; display: flex;  align-items: center; padding-left: 5% ;"><div>온도 : </div><span> {{temp}}°C</span></li>
        <li class="PH_detail" fxFlex="25%" style="border-bottom: 1px solid black ; display: flex; align-items: center; padding-left: 5% ;">PH : <span>{{PH}}pH</span></li>
        <li class="DO_detail" fxFlex="25%" style="padding: 0; border-bottom: 1px solid black ; display: flex; align-items: center; padding-left: 5% ;">DO : <span>{{DO}}ppm</span></li>
        <li class="kg_detail" fxFlex="25%" style="display: flex; align-items: center; padding-left: 5% ;">무게 : <span>{{KG | number}}kg</span></li>
      </ul>
    </div>
    <div class="foot" fxFlex="10%">2014 03:05 13:15:14</div>
  </div>
  <div class="main1" *ngIf="clicked && status == 'danger'" fxLayout="column" fxFlexFill style="border: 1px solid red;">
    <div class="head" fxLayout="row" fxFlex="90%">
      <ul class="status_index" fxFlex="35%" fxLayout="column">
        <li fxFlex="50%" style="display: flex; justify-content: center; align-items: center; color: aliceblue; font-size: 50px; font-weight: bold; background-color: rgb(124, 11, 11); border: 1px solid red;">{{index}}</li>
        <li fxFlex="50%" class="status_index_bowl" style="border: 1px solid red;">심각 <img src="../../../assets/image/waterbowl.png" width="70px" height="40px" ></li>
      </ul>
      <ul style="background-color: red;" fxLayout="column" fxFlex="65%">
        <li class="temp_detail" fxFlex="33.3%" style=" border-bottom: 1px solid black ; display: flex;  align-items: center; padding-left: 5% ;"><div>온도 : </div><span> {{temp}}°C</span></li>
        <li class="PH_detail" fxFlex="33.3%" style="border-bottom: 1px solid black ; display: flex; align-items: center; padding-left: 5% ;">PH : <span style="color: yellow;">{{PH}}pH</span></li>
        <li class="DO_detail" fxFlex="33.3%" style="padding: 0; border-bottom: 1px solid black ; display: flex; align-items: center; padding-left: 5% ;">DO : <span style="color: yellow;">{{DO}}ppm</span></li>
      </ul>
    </div>
    <div class="foot" fxFlex="10%">2014 03:05 13:15:14</div>
  </div>
  <div class="main1" *ngIf="clicked && status == 'warn'" fxLayout="column" fxFlexFill style="border: 1px solid yellow;">
    <div class="head" fxLayout="row" fxFlex="90%">
      <ul class="status_index" fxFlex="35%" fxLayout="column">
        <li fxFlex="50%" style="display: flex; justify-content: center; align-items: center; color: aliceblue; font-size: 50px; font-weight: bold; background: rgb(246, 113, 36); border: 1px solid rgb(246, 148, 36);">{{index}}</li>
        <li fxFlex="50%" class="status_index_bowl" style="border: 1px solid rgb(246, 148, 36);">경고 <img src="../../../assets/image/waterbowl.png" width="70px" height="40px" ></li>
      </ul>
      <ul style="background-color: yellow;" fxLayout="column" fxFlex="65%">
        <li class="temp_detail" fxFlex="33.3%" style=" border-bottom: 1px solid black ; display: flex;  align-items: center; padding-left: 5% ;"><div>온도 : </div><span> {{temp}}°C</span></li>
        <li class="PH_detail" fxFlex="33.3%" style="border-bottom: 1px solid black ; display: flex; align-items: center; padding-left: 5% ;">PH : <span style="color: red;">{{PH}}pH</span></li>
        <li class="DO_detail" fxFlex="33.3%" style="padding: 0; border-bottom: 1px solid black ; display: flex; align-items: center; padding-left: 5% ;">DO : <span style="color: red;">{{DO}}ppm</span></li>
      </ul>
    </div>
    <div class="foot" fxFlex="10%">2014 03:05 13:15:14</div>
  </div>
  <div class="main1" *ngIf="!clicked" fxFlexFill>
    <img src="../../../assets/image/waterbowl.png"class="backgroundImg" width="150px" height="150px" >
    <div class="text">
      <ul>
        <li class="number_"><span>{{index}}</span></li>
        <li class="name"><span>넙포니카</span></li>
        <li class="temp"><img src="../../../assets/image/blue.png" width="20px" height="20px">  <span>  정상 | 온도:23.1°C</span></li>
      </ul>
    </div>
  </div>
</div>
